data_root: /root/.cache/kagglehub/competitions/deep-past-initiative-machine-translation
train_path: train.csv
src_col: transliteration
tgt_col: translation

src_prefix: "translate Akkadian to English: "
preprocess_inputs: true
use_sentence_aligner: true
align_min_len: 3

val_split: 0.1
seed: 42

model_name: google/byt5-small
tokenizer_name: null

max_source_len: 512
max_target_len: 512
num_beams: 4

# Faster validation decode
val_gen_max_len: 256
val_num_beams: 1

device: cuda
epochs: 20
batch_size: 8
lr: 2e-4
weight_decay: 0.0
trainable_dtype: bf16

log_every: 50
eval_strategy: epoch
save_strategy: epoch
save_total_limit: 2
output_dir: /notebooks/kaggle/Deep-Past-Challenge/outputs
run_name: train_base
comet_project_name: null
comet_experiment_key: null
